{% extends 'base.html' %}
{%block title %} About Page {% endblock %}
{% load static %}
{% block content %}
<div class="mainclass" style="position">

<h1 class="heading">About Us</h1>
    <div style="width:70%; margin-left:10px;">
    <p >Aster Medcity, set in a soothingly beautiful 40-acre waterfront campus, is a 670-bed quaternary care facility & one of the best hospital in Kochi, Kerala. Fulfilling the vision and dream of Dr. Azad Moopen, its beloved chairman, the center has been delivering quality healthcare at affordable cost through its Centres of Excellence and a multi-specialty hospital since 2013. It is the first JCI accredited quaternary care multispecialty hospital in the state and combines the best of talent and technology to provide holistic treatment with a multidisciplinary approach.

Across the years, Aster Medcity has evolved into a medical destination - one that attracts not just thousands of patients across the world; but also attracts and nurtures the best talent, keeps upgrading technology as well as fosters research, education and a distinctive work culture that is ethically and socially relevant.

Kerala’s first quaternary care hospital, Aster Medcity has also been accredited by NABH, received NABH certification for Nursing Excellence, Green OT (Green Operation Theatres) Certification by Bureau Veritas all within a year of opening its door to the world.</p>
    </div>
    <div class="about-image float-right ">
      <img  src="{% static '/images/about-us-new.jpg' %}" alt="" height="300px;" width="300px;" style="margin-top:-250px; margin-right:30px; border-radius:50%;">
    </div>
</div>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>ABOUT</title>-->
<!--</head>-->
<!--<body>-->
<!--<H1>ABOUT PAGE</H1>-->
<!--{% if num1 > 0 %}-->
<!--<h3>possitive number</h3>-->
<!--{% elif num1 < 0 %}-->
<!--<h3>Negative number</h3>-->
<!--{% else %}-->
<!--<h3>zero</h3>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->